
/*@font-face {
    font-family: MyFont;
    src: url("fonts/TeleGroEESem.otf");
}*/

body {
    font-family: 'Open Sans', sans-serif;
    /*font-family: MyFont, Helvetica, Arial, sans-serif;*/
    
    line-height: 1.45em;
    color: #333333;
    background-color: #FFFFFF;    
    font-size: 96%;
}

b {
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Arial', sans-serif;*/
    font-weight: bold;
}

i {
    
    font-style:italic;

}
#top-menu {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;

    display: block;
    height: 3em;
    padding-top: 1em;
    text-align: right;
        background: rgba(255,255,0,1);
background: -moz-linear-gradient(top, rgba(255,255,0,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,0,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(255,255,0,1) 0%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,0,1) 0%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,0,1) 0%, rgba(255,255,255,1) 100%);

    background: linear-gradient(to bottom, rgba(253, 247, 107, 0.78) 0%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#ffffff', GradientType=0 );

}

#top-menu a, #top-menu a:visited {
    display: inline-block;
    margin-right: 2em;
    /* width: 13%; */
    color: black;
    text-decoration: none;
}




#page-header {
    position: relative;

}



#page-content {
    margin: 1em 0;
    overflow: hidden;
}

#page-footer {
    padding: 1.75em 1em 4em 1em;
    background-color: rgb(58, 56, 56);
    color: white;
    text-align: center;
    list-style: initial;
    min-height: 100px;
    overflow: hidden;
}

#page-footer img, #kontakt img {
    display: inline-block;
    
    width: 32px;
     
    padding-top: 30px;
}


#container {
    position: relative;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    min-height:100%;


    float: right;
}

img {
    width: 100%;

    border-radius: 7px;
    /* border-color: black; */
    /* border-style: solid; */
    border-width: 2 px;
}




#inconstruction {
    text-align: center;
    margin: 10em 0;
}

.section-motto {
    height: 100%;
    /* overflow: hidden; */
    float: left;
    width: 96%;
    margin-right: 2%;
    margin-bottom: 1em;
    min-height: 3em;
    padding: 2em 2%;
    border-radius: .5em;
   background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 24%, rgba(255,255,31,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(24%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,31,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 24%, rgba(255,255,31,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 24%, rgba(255,255,31,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 24%, rgba(255,255,31,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 24%, rgba(255,255,31,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffff1f', GradientType=0 );
}

div#motto {}




.section, .section-full, section-full-2sloupec  {
    overflow: hidden;
    float: left;
    width: 19%; 
    margin-right: 2%;
    margin-bottom: 1.5em;
    min-height: 16em;

    padding: 2em 2%;

    border-radius: .5em;
    background-color: rgb(255, 255, 0);
    
    
    text-align: left;
    font-size: 103%;
    position: relative;
}

.section-full, .section-full-ojane2sloupce, .section-full-2sloupec  {
    /* float: none; */
    width: 96%;
    margin-left: 0;
    margin-right: 0;
    background: rgba(255,255,31,1);
background: -moz-linear-gradient(top, rgba(255,255,31,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,31,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(255,255,31,1) 0%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,31,1) 0%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,31,1) 0%, rgba(255,255,255,1) 100%);

    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,31,1) 50%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff1f', endColorstr='#ffffff', GradientType=0 );
}

.section-full-ojane2sloupce {
     width: 65%;
     min-height: 980px;
}


.certifikat{
   float: right;
   width: 86%;
   
   /* position: relative; */
   margin-left: 3em;
}

.sub-section-bgr-text {
    background-color: rgb(240, 222, 33);
    height: 2.5em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 1em;
}



.sub-section-bgr-text h2 {
    
color: rgb(61, 61, 61);

}

 
.section-text{
     padding-top: 3em; 
/*    padding-left: 1em;
    padding-right: 1em;*/
    
     line-height: 158%;
}

div#kontakt{ 
/*    padding-left: 1em;
    padding-right: 1em;*/
    
     
     
}

.motto {
    overflow: hidden;
    float: left;
    width: 19%;
    margin-right: 2%;
    margin-bottom: 1em;
    min-height: 19em;

    padding: 1em 2%;

    border-radius: .5em;
    background-color: yellow;
}

#sect4, #sect8 {
    margin-right: 0%;
}

#sect2, #sect3, #sect6, #sect7 {
    width: 20%;
}
.section h2, .section-full h2 {
    font-weight: bold;
    margin-bottom: .5em;
    font-size: 140%;
    text-align: center;
}

.section-full h2 {
    text-align: left;
    padding-left: 0.7em;
}

.section-full p, .section-full-img{
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    
}
.section-full-img-kontakt{
    LINE-HEIGHT: 1.4em;
    font-size: 0.9em;
    font-weight: 500;
}

.section-full-img {
    float: left;
    padding-left: -18em;
}

.section-full-2sloupec {
     width: 25%;
     margin-left: 2%;
     min-height: 980px;
     float: left;
}


.txt-img {
    float: right;
    margin-left: 1em;
    margin-bottom: .5em;
    width: 30%;
}


.footer-col {
    float: left;
    width: 15%;
    padding-left: 6%;
    padding-right: 3%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.footer-col a, .footer-col a:visited {
    display: block;
    text-align: left;
    text-decoration: underline;
    color: lightgray;
    margin-bottom: 0.9em;
    line-height: 1em;
}

#footer-line{
    display: block;
    border-bottom: 1px gray solid;
    overflow: hidden;
    
    
    
    padding-bottom: 3em;
}

.section-certifikat-tab {
   float: right;
   width: 30%;
   
   /* position: relative; */
   margin-left: 2em;
}



/*------------------------------------------------------------------------------*/

@media only screen and (max-width: 1024px) {
    #page-content {
        margin-left: 1em;
        margin-right: 1em;
    }
}


@media only screen and (max-width: 899px) {
    #page-content {
        margin-left: 1em;
        margin-right: 1em;
    }

    .section {
        width: 45%;
        margin-right: 1%;   
        padding: 1em 2%;
        margin-bottom: .75em;
    }

    #sect1, #sect2, #sect3, #sect4, #sect5, #sect6, #sect7, #sect8 {
        width: 45%;
    }
    #sect2, #sect4, #sect6, #sect8 {
        margin-left: 1%;
        margin-right: 0%;
    }

}

@media only screen and (max-width: 480px) {
    #sect1, #sect2, #sect3, #sect4, #sect5, #sect6, #sect7, #sect8 {
        width: 96%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1em;
    }

    #top-menu {
        display: none;
    }

    .footer-col {
        float: left;
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 1em;
        padding-bottom: 0;
    }

    .footer-col a, .footer-col a:visited {
        text-align: center;
    }
}


