
@font-face {
    font-family: SourceSans;
    src: url("fonts/TeleGroEESem.otf");
}

body {
    font-family: SourceSans, Helvetica, Arial, sans-serif;
    background-color: #FFFFFF;    
}

#page-header {
    background-color: gray;
    text-align: center;
}

#page-content {
    margin: 1em 0;
    overflow: hidden;
}

#page-footer {
    padding: .75em 1em 2em 1em;
    background-color: gray;
    color: white;
    text-align: center;
}



#container {
    position: relative;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    min-height:100%;
    
    
}


img {
    width: 100%;
    height: 100%;
}


#inconstruction {
    text-align: center;
    margin: 10em 0;
}

.section {
    overflow: hidden;
    float: left;
    width: 28%;
    margin-right: 2%;
    margin-bottom: 1em;
    min-height: 15em;
    
    padding: 1em 2%;
    
    border-radius: .5em;
    background-color: lightgray;
}

#sect3, #sect6 {
    margin-right: 0;
}

h2 {
    font-weight: bold;
    margin-bottom: .5em;
}

.txt-img {
    float: right;
    margin-left: 1em;
    margin-bottom: .5em;
    width: 30%;
}






/*------------------------------------------------------------------------------*/

@media only screen and (max-width: 899px) {
    #page-content {
        margin-left: 1em;
        margin-right: 1em;
    }
    
    .section {
        width: 45%;
        margin-right: 2%;   
        padding: 1em 2%;
    }

    #sect1, #sect3, #sect5 {
        margin-right: 2%;
    }
    #sect2, #sect4, sect6 {
        margin-right: 0%;
    }

}


